.orden{
    display: flex;
    flex-direction: column;
}

.imagen{
    display: flex;
    justify-content: flex-start;
}

.paper{
    position: absolute;
    background-color: whitesmoke;
    box-shadow: dimgray;
    margin: 2% 5% 5% 5%;
    padding: 4%;
    width: 500px;
}

.boton{
    border: none;
    background-color: darkred;
    border-radius: 10px;
    padding: 1.5%;
    color: whitesmoke;
}
.inicio{
    display: flex;
    justify-content: flex-end;
    padding-top: 3%;
}

.labelI{
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 10%;
    margin-top: 5%;
}

.labelN{

    font-size: large;
    font-weight: bold;
}

.a{
    display: flex;
    justify-content: center;
}

.todo{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.datos{
    position: absolute;
    display: flex;
    width: 100%;
}

.toda{
    width: 100%;
    display: flex;
    flex-direction: column;
}